h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  all: unset;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.section {
  padding: 120px 0;
}
/* ХЕДЕР */
header div {
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.container.header {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 322px;
}
.adress {
  display: flex;
  align-items: center;
  font-style: normal;
}
.nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.adress-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 24px 0;
  /* padding-left: 176px; */
}
.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.adress-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}
/* SECTION ONE */
main {
  display: block;
}
.section-one {
  background-color: #2e2f42;
}
.sec-one-h {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  align-items: center;
}
.button-section-one {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
}
.button-section-one:hover,
.button-section-one:focus {
  background-color: #404bbf;
}
/* SECTION TWO */
.section-two-h-two {
  color: #2e2f42;
}
.section-two-h-three {
  display: flex;
  gap: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-two-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.about-us-list {
  display: flex;
  gap: 24px;
}
/* SECTION THREE */
.section-three {
  background-color: #f4f4fd;
}
.section-three-h-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.section-three-li {
  background-color: #ffffff;
}
.section-three-h-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.section-three-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* SECTION FOUR */
.section-four-h-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.section-four-h-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-four-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* FOOTER */
.foter {
  background-color: #2e2f42;
}
.logo-studio-foter {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.foter-text-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
